:root {
    --col1: #0D92F4;
    --col2: #F95454;
    --col3: #77cdff;
    --col4: #C62E2E;
    --colText: #27374D;
}

html {
    background: var(--col4);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: var(--colText);
    border: 10px dashed var(--col1);
    background: var(--col3)
}

h1{
    background-image: url('images/modernSswordbsq.png');
    background-repeat: no-repeat;
    background-size: 75px;
    background-position: center left;
    font-size: 3em;
    padding-left: 75px;
    padding-top: 25px;
}

h2 {
    font-size: 2em;
    text-align: center;
}

h3 {
    font-size: 1.5em;
}

p {
    line-height: 1.4em;
}

#blog {
    display: flex;
    flex-direction: column;
}

.blog-post {
    border-bottom: 2px dotted var(--col1);
}

header {
    position: sticky;
    top: 0;
    background: var(--col3);
    border-bottom: 4px double var(--col4);
}

ul {
    display: flex;
    list-style-type: none;
}

ol {
    display: flex;
    flex-direction: column;
}

li {
    flex: 1;
}

table {
    padding-top: 10px;
}

th {
    border: 2px solid var(--col4);
}

td {
    border: 1px solid var(--col4);
    padding-right: 10px;
}

img {
    width: 50%;
    padding-top: 10px;
}

a[rel="author"] {
    color: var(--col4);
}

.pMembers {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}

.contact {
    display: flex;
    flex-direction: column;
    white-space: pre-line;
}

time {
    font-weight: bold;
}